
/* цвет основного текста #212121; */
/* цвет вторичного текста #757575; */

/* белый #FFFFFF; */
/* акценкт #2196F3; */

/* цвет основного фона #E5E5E5; */
/* цвет вторичного фона  #2F303A; */
/* цвет фона кнопок #F5F4FA; */

/* цвет шапки лого #000000; */
/* цвет лого футер #FFFFFF; */

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color:#2196F3;
    --primary-bg-color: #E5E5E5;
    --wite-color: #FFFFFF;
}


body {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}
/* утилиты */

.list {
    list-style: none;
}

/* логотип */

.logo {
 color: var(--accent-color);
}

/* логотип шапка */

.logo-header {
    color: var(--primary-text-color);
}

/* логотип футер */

.logo-footer {
    color: var(--wite-color);
}

/* навигация */

.site-nav .link {
    color: var(--primary-text-color);
}

.site-nav .link-current {
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

/* контакты */

.contakts-header {
    color: var(--secondary-text-color);
}
/* контакты шапка */

.contakts-header:hover,
.contakts-header:focus {
    color: var(--accent-color);
}

/* контакты футер */

.contakts-footer {
    color: rgba(255, 255, 255, 0.6);
}

.contakts-footer:hover,
.contakts-footer:focus {
    color: var(--accent-color);
}

/* адрес */

.address {
    color: var(--wite-color);
}

.address:hover,
.address:focus {
    color: var(--accent-color);
}


/* герой */

.hero {

}

.hero-title {
    color: var(--wite-color);
}

/* секции */

.section-title {
    color: var(--primary-text-color);
}
/* качества */

.quality-list {
    color: var(--secondary-text-color);
}

/* каталог */

.catalog-text {
    color: var(--secondary-text-color);
}

/* кнопки */

.button {
    color: #212121;
    background-color: #E5E5E5;
}

.button:hover,
.button:focus {
    color: var(--wite-color);
    background: var(--accent-color);
}

.button.primary {
    color: var(--wite-color);
    background-color: var(--accent-color);
}