
/* цвет основного текста #212121; */
/* цвет вторичного текста #757575; */

/* белый #FFFFFF; */
/* акценкт #2196F3; */

/* цвет основного фона #E5E5E5; */
/* цвет вторичного фона  #2F303A; */
/* цвет фона кнопок #F5F4FA; */

/* цвет шапки лого #000000; */
/* цвет лого футер #FFFFFF; */

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color:#2196F3;
    --primary-bg-color: #E5E5E5;
    --secondary-bg-color: #2F303A;
    --wite-color: #FFFFFF;
    --button-bg-color: #F5F4FA
}


body {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);

    font-family: Roboto, Comfortaa, Lato, sans-serif;
    letter-spacing: 0.03em;
}

footer {
    background-color: var(--secondary-bg-color);
}

/* утилиты */

.list {
    list-style: none;
}

/* логотип */

.logo {
    color: var(--accent-color);
    font-family: Raleway; sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

/* логотип шапка */

.logo-header {
    color: var(--primary-text-color);
}

/* логотип футер */

.logo-footer {
    color: var(--wite-color);
}

/* навигация */

.site-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link-current {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

/* контакты */

.contakts-header {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
/* контакты шапка */

.contakts-header:hover,
.contakts-header:focus {
    color: var(--accent-color);
}

/* контакты футер */

.contakts-footer {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.contakts-footer:hover,
.contakts-footer:focus {
    color: var(--accent-color);
}

/* адрес */

.address {
    color: var(--wite-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.address:hover,
.address:focus {
    color: var(--accent-color);
}


/* герой */

.hero {
    background-color: var(--secondary-bg-color);
}

.hero-title {
    color: var(--wite-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* секции */

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}    

/* качества */

.quality-list {
    color: var(--secondary-text-color);
}

.section-list {
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

/* каталог */

.catalog-text {
    color: var(--secondary-text-color);
}

.catalog-title {
    color: var(--primary-text-color);
}

.catalog-link {
    text-decoration: none;
}


/* кнопки */

.button {
    font-family: inherit;
    cursor: pointer;
}

.button.secondary {
    background-color: #E5E5E5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.button.secondary:hover,
.button:focus {
    color: var(--wite-color);
    background: var(--accent-color);
}

.button.primary {
    
    color: var(--wite-color);
    background-color: var(--accent-color);
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
        
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.button.primary:hover,
.button.primary:focus {
    color: var(--primary-text-color);
    background-color: var(--button-bg-color);
}

